.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #d4b5ad 0%, #ecdeb6 100%);
}

.forms {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bars {
  width: 40%;
  border: none;
  padding: 10px;
}

.buttons {
  background: rgb(14, 11, 11);
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}